
/*=================================Graphs=============================================*/

.wrapper{
  display: grid;
  grid-gap:20px;
  grid-template-columns: repeat(4, 450px);
  grid-template-rows: repeat(2,1fr);
  
}

.grid{
  padding: 10px;
  height:300px;
}


.grid:hover, .grid2:hover, .grid3:hover, .single-img:hover{
  opacity: 80%;
  
}
.A,.b,.c,.d,.e,.f,.g,.h, .aa,.ab,.ac, .ba,.bb,.bc, .a1,.a2{
  padding:5px;
  margin:5px;
  border:5px;
  background-size:cover;
}
.A{
  background-image: url('../images/education.jpg');

}

.b{
  background-image: url('../images/cocacola-intern.jpg');
}

.c{
  background-image: url('../images/engineering-project.jpg');
}

.d{
  background-image: url('../images/presentation.jpg');
}

.e{
  background-image: url('../images/arts-collection.jpg');
}

.f{
  background-image: url('../images/leadership-experience.jpg');
}

.g{
  background-image: url('../images/presentation1.jpg');
}
.h{
  background-image: url('../images/activities.jpg');
}

.wrapper-for-4{
  display: grid;
  grid-gap:20px;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 450px;
}

.aa{
  background-image: url('../images/photography1.jpg');
}

.ab{
  background-image: url('../images/photography2.jpg');
}

.ac{
  background-image: url('../images/photography3.jpg');
}

.ba{
  background-image: url('../images/oil-paint.jpg');
}
.bb{
  background-image: url('../images/wallpaint.jpg');
}
.bc{
  background-image: url('../images/procreate-artwork.jpg');
}

.wrapper-for-2{
  display:grid;
  grid-gap:20px;
  grid-template-columns: 400px 400px;
  grid-template-rows: 300px;
}

.a1{
  background-image: url('../images/internship-experience.jpg');
}
.a2{
  background-image: url('../images/internship-experience2.jpg');
}

.single-img{
  max-width: 400px;
  padding: 10px;
  margin: 10px;
  border: 5px;
  transition: transform .5s;
}
.single-img:hover{
  transform: scale(1.15);
}


/*==================MAIN============================================*/

h1 {
	font-size:6em;
	margin:0.67em 0;
	color:#353535;
	text-transform: uppercase;
	text-align:left
}

h2{
	font-size: 2em; 
	font-weight: bold;
	margin:0.67em 0;
	color:#353535;
	text-align:left
}

.personal{
	height:400px;
	width:auto;
	margin:20px;
	padding:50px 10px 50px 0;
  border: 5px white;
  transition: transform .5s;
}
.personal:hover{
  transform: scale(1.15);
}

footer p{
	color:#2d2f55;
	font-size:12px;
}

p, h1, h2{
  padding: 0 0 0 20px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

p {
	letter-spacing:0.5px;
	color:#000;
	font-size: 15px;
  line-height:1.2em;

}
*{
  margin: 0px;
}

.h3{
  padding: 10px 0 10px 10px;
}

/*==================CONTACT INFO=============================================*/
@font-face {
  font-family: 'Material Icons';
  src: url(./MaterialIcons-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

.material-icons{
  font-family: Material Icons;
  font-weight:normal;
  font-style:normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  direction:rtl;
}

/*==================NAVIGATION BAR=============================================*/

.navbar {
	font-family:Roboto;
	width: 100%;
	background-color: rgb(240, 240, 240);
	display:inline-block;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: left;
  padding: 12px;
  color: rgb(25, 21, 62);
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(251, 251, 251);
  color:#5558a0
}

/* Current/active navbar link */
.active {
  background-color: #ffffff;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
